.flower {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 16rem;
	height: 16rem;
}

.flower__petal {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 8rem;
	height: 16rem;
	border-radius: 50%;
	border-width: 0.125rem;
	border-style: solid;
	opacity: 0.8;
	animation: spin 15s linear infinite;
	animation-play-state: paused;
}

@keyframes spin {
	0% {
		transform: rotate(-72deg);
	}
	100% {
		transform: rotate(288deg);
	}
}

/* the lowest petal */
.flower__petal:nth-of-type(1) {
	background-color: #5611ad;
	border-color: #280850;
	animation-delay: -15s;
}

.flower__petal:nth-of-type(2) {
	background-color: #6213c5;
	border-color: #340a68;
	animation-delay: -12s;
}

.flower__petal:nth-of-type(3) {
	background-color: #6d15dc;
	border-color: #3f0c7f;
	animation-delay: -9s;
}

.flower__petal:nth-of-type(4) {
	background-color: #7a21ea;
	border-color: #4b0e96;
	animation-delay: -6s;
}

/* the top-most petal, actually displaying text */
.flower__petal:nth-of-type(5) {
	background-color: #8838ec;
	border-color: #5611ad;
	color: #fff;
	animation-delay: -3s;
}
