@_UI5con2025_libraryless_Flower_Petal_1_BorderColor: @sapHC_StandardForeground;
@_UI5con2025_libraryless_Flower_Petal_2_BorderColor: @sapHC_StandardForeground;
@_UI5con2025_libraryless_Flower_Petal_3_BorderColor: @sapHC_StandardForeground;
@_UI5con2025_libraryless_Flower_Petal_4_BorderColor: @sapHC_StandardForeground;
@_UI5con2025_libraryless_Flower_Petal_5_BorderColor: @sapHC_StandardForeground;
