@_UI5con2025_libraryless_Flower_Petal_1_BorderColor: darken(
  @_UI5con2025_libraryless_Flower_Petal_1_Background,
  20%
);

@_UI5con2025_libraryless_Flower_Petal_2_Background: darken(
  @_UI5con2025_libraryless_Flower_Petal_1_Background,
  5%
);
@_UI5con2025_libraryless_Flower_Petal_2_BorderColor: darken(
  @_UI5con2025_libraryless_Flower_Petal_2_Background,
  20%
);

@_UI5con2025_libraryless_Flower_Petal_3_Background: darken(
  @_UI5con2025_libraryless_Flower_Petal_2_Background,
  5%
);
@_UI5con2025_libraryless_Flower_Petal_3_BorderColor: darken(
  @_UI5con2025_libraryless_Flower_Petal_3_Background,
  20%
);

@_UI5con2025_libraryless_Flower_Petal_4_Background: darken(
  @_UI5con2025_libraryless_Flower_Petal_3_Background,
  5%
);
@_UI5con2025_libraryless_Flower_Petal_4_BorderColor: darken(
  @_UI5con2025_libraryless_Flower_Petal_4_Background,
  20%
);

@_UI5con2025_libraryless_Flower_Petal_5_Background: darken(
  @_UI5con2025_libraryless_Flower_Petal_4_Background,
  5%
);
@_UI5con2025_libraryless_Flower_Petal_5_BorderColor: darken(
  @_UI5con2025_libraryless_Flower_Petal_5_Background,
  20%
);
